/* #cv-form{
    display: none;
} */
#cv-template{
    display: none;
}
.myimg{
    border-radius: 30%;
    width: 200px;
}

.background{
    background-color: rgb(235, 240, 243);
}
a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}